<div class="hidden lg:block">
  <%= render 'shared/navbar' %>
</div>

<!-- Navbar transparente -->
<div class="absolute h-44 top-0 left-0 w-full z-10 bg-gradient-to-b from-transparent-black to-transparent lg:hidden">
  <div class="flex items-center p-4 pt-12">
    <span class="mr-4 text-white text-h5-sm"><</span><%= link_to "Volver", products_path, class: "text-white text-h5-sm" %>
  </div>
</div>

<div class="lg:px-23 lg:pt-32 min-h-screen">
  <%= form_with(model: @order, local: true, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |f| %>
    <% if @order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

        <ul>
          <% @order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="flex flex-col lg:flex-row gap-8">
      <!-- Left Section -->
      <div class="lg:w-2/3">
        <h3 class="text-h5-lg">Destinatario</h3>
        <p class="text-lg mb-4">Complete la información del destinatario de su regalo</p>

        <div class="flex items-center mb-4">
          <label class="mr-4">Envia a domicilio</label>
          <%= check_box_tag 'delivery_mode', 'single', true, data: { action: 'change->nested-form#toggleDeliveryMode' } %>
          <label class="ml-4 mr-4">Multiples direcciones</label>
          <%= check_box_tag 'delivery_mode', 'multiple', false, data: { action: 'change->nested-form#toggleDeliveryMode' } %>
        </div>

        <div data-nested-form-target="singleAddress" class="mb-4">
          <%= f.fields_for :delivery_addresses, @order.delivery_addresses.build do |address_fields| %>
            <%= render 'delivery_address_fields', f: address_fields %>
          <% end %>
        </div>

        <div data-nested-form-target="multipleAddresses" class="mb-4 hidden">
          <template data-nested-form-target="template">
            <%= f.fields_for :delivery_addresses, DeliveryAddress.new, child_index: 'NEW_RECORD' do |address_fields| %>
              <%= render 'delivery_address_fields', f: address_fields %>
            <% end %>
          </template>

          <%= f.fields_for :delivery_addresses do |address_fields| %>
            <%= render 'delivery_address_fields', f: address_fields %>
          <% end %>

          <div data-nested-form-target="target"></div>
          <button type="button" data-action="nested-form#add" class="btn">Agregar direccion</button>
        </div>

        <div class="mb-4">
          <%= check_box_tag 'surprise_delivery', '1', false %>
          <label>Entrega sorpresa</label>
          <p class="text-sm">Si el envío no es sorpresa podríamos contactar al destinatario</p>
        </div>

        <div class="mb-4">
          <h3 class="text-h5-lg">Personalización</h3>
          <p class="text-lg mb-2">Dejar un mensaje para la tarjeta de regalo</p>
          <%= text_area_tag :personalization_message, nil, class: 'w-full' %>
        </div>

        <div class="mb-4">
          <h3 class="text-h5-lg">Subir logo de la empresa</h3>
          <p class="text-lg mb-2">Adjuntar en formato png sin fondo y en alta definición</p>
          <%= file_field_tag :company_logo, class: 'file-upload' %>
        </div>

        <div class="mb-4">
          <h3 class="text-h5-lg">Si el envío rebota</h3>
          <p class="text-lg mb-2">blblabla</p>
          <%= check_box_tag 'retry_delivery', '1', false %>
          <label>Intentar reenvío a la misma dirección</label>
        </div>
      </div>

      <!-- Right Section -->
      <div class="lg:w-1/3 bg-gray-100 p-4 rounded-lg">
        <h3 class="text-h5-lg mb-4">Resumen de compra</h3>
        <div class="flex items-center mb-4 bg-white p-4 rounded-lg shadow-md">
          <%= image_tag @order.product.image_url, alt: 'Producto', class: 'w-1/3 h-24 object-cover rounded-lg' %>
          <div class="ml-4">
            <h4 class="text-h6-lg"><%= @order.product.name %></h4>
            <p class="text-sm"><%= @order.product.category.name %></p>
          </div>
        </div>

        <div class="mb-4">
          <h4 class="text-h6-lg">Método de pago</h4>
          <p class="text-sm">Pago a través de Mercado Pago</p>
          <%= link_to 'Cambiar', '#', class: 'text-blue-500 underline' %>
        </div>

        <div class="mb-4">
          <h4 class="text-h6-lg">Información de facturación</h4>
          <div class="flex flex-col mb-2">
            <%= f.label :rut, 'RUT', class: 'text-sm' %>
            <%= f.text_field :rut, class: 'w-full p-2 border rounded' %>
          </div>
          <div class="flex flex-col mb-2">
            <%= f.label :bussines_name, 'Razón Social', class: 'text-sm' %>
            <%= f.text_field :bussines_name, class: 'w-full p-2 border rounded' %>
          </div>
        </div>

        <div class="mb-4">
          <div class="flex justify-between">
            <span>Subtotal</span>
            <span><%= number_to_currency(2) %></span>
          </div>
          <div class="flex justify-between">
            <span>Costo del envío</span>
            <span><%= number_to_currency(2) %></span>
          </div>
          <div class="flex justify-between">
            <span>IVA</span>
            <span><%= number_to_currency(2) %></span>
          </div>
          <div class="flex justify-between">
            <span>Total</span>
            <span><%= number_to_currency(2) %></span>
          </div>
        </div>

        <div class="flex justify-center">
          <%= f.submit 'Comprar', class: 'w-full py-2 bg-blue-500 text-white rounded-lg drop-shadow-lg' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
