<!DOCTYPE html>
<html>
  <head>
    <title>Onboarding</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "manifest", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  </head>

  <body class="bg-planit-grey-4 min-h-screen">
    <%= render 'layouts/flash_messages' %>

    <%= yield %>

    <%= render 'shared/mobile_footer' %>
    <%= render 'shared/footer' %>
  </body>
</html>
